body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url(bgn.png);
    background-repeat: no-repeat;
     background-size: cover;
}
#header-text{
    font-size: 50px;
    color: gold;
    outline: 3px solid red;
    padding: 10px 20px;
    border-radius: 10px;
}
.main{
    padding: 300px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: red;
    padding: 1px;
    margin-top: 40px;
}
.box{
    background-color: wheat;
    height: 150px;
    width: 150px;
    border: 1px solid gold;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    color: darkslategray;
    cursor: pointer;

}
#resetbtn{
    /* margin-bottom: 30px ; */
    background-color: indigo;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;

}
